#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

.vscode
model.sh
.tmp
.env
config.*
*.properties

output
*test*
.env
api-key*
*.properties

secret
snow*.log*
.DS_Store

.venv
